
body.black {
    background-color: black;
}

body.black .info-panel {
    background-color: #1a1a1a;
    border-color: #333333;
    color: white;
}

body.black .key-info-item {
    color: #e6e6e6;
}

body.black .key-info-item:before {
    border-color: #333333;
}

body.black .key-info-item h6, body.black .key-info-item p {
    background-color: #1a1a1a;
}

body.black .time-info .time {
    color: #e6e6e6;
}

body.black .speed-info .speed {
    border-color: #333333;
}

body.black .speed-info .count-item {
    color: #e6e6e6;
}

body.black .copyright {
    border-top: 1px dashed #333333;
    color: gray;
}

body.black .table-container {
    border: 1px solid #333333;
    background-color: #1a1a1a;
}

body.black .table {
    color: #b3b3b3;
}

body.black thead tr {
    border-bottom: #333333;
}

body.black thead tr th {
    color: #b3b3b3;
}

body.black tbody tr:nth-child(2n+1) {
    background-color: #0d0d0d;
}

body.black tbody tr:nth-child(2n) {
    background-color: black;
}

body.black tbody tr:hover {
    background-color: #262626;
}

body.black td .btn {
    color: #b3b3b3;
    background-color: #333333;
    border: 1px solid #333333;
}

body.black td .btn:hover {
    color: white;
    background-color: #FF3B30;
}

body.black .content {
    color: #e6e6e6;
    border: 1px solid #333333;
    background-color: #1a1a1a;
}

body.black .typing textarea {
    border: 1px solid #333333;
    background-color: #1a1a1a;
    color: white;
}

body.black .typing textarea:focus {
    -webkit-box-shadow: inset 1px 1px 5px black;
    -moz-box-shadow: inset 1px 1px 5px black;
    box-shadow: inset 1px 1px 5px black;
}

body.black .text .correct {
    color: #333333 !important;
}

body.black .text .wrong {
    background-color: #FF3B30;
    color: white !important;
}

body.black .btn-group {
    border: 1px solid #333333;
}

body.black .btn-group .btn {
    color: white;
    background-color: #1a1a1a;
    border-right: 1px solid #333333;
}

body.black .btn-group .btn:active {
    -webkit-box-shadow: inset 0 1px 2px black;
    -moz-box-shadow: inset 0 1px 2px black;
    box-shadow: inset 0 1px 2px black;
}

body.black .btn-group .btn:hover {
    background-color: #333333;
    border-color: #333333;
}

body.black .btn-group .btn:last-child {
    border-right: none;
}

body.black .btn-group .btn.danger {
    background-color: #FF3B30;
    color: white;
}

body.black input[type=checkbox] + label:before {
    background-color: #1a1a1a;
}

body.black input[type=radio] + label {
    color: #FF9500;
}

body.black input[type=radio]:checked + label {
    background-color: #FF9500;
    color: white;
}

body.black ::-webkit-scrollbar-track {
    border-right: 1px solid #333333;
    background-color: #333333;
}

body.black ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #eee;
    transition: all .2s;
    height: 3px;
}

body.black :hover::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    transition: all .2s;
}
