<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">

    <title>管理系统-足迹</title>
    <meta content="足迹,足迹后台管理系统,后台管理系统,管理系统,ZuJi" name="keywords">
    <meta content="足迹后台权限管理系统易读易懂、界面简洁美观" name="description">
    <link rel="stylesheet" th:href="@{/static/plugin/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plugin/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/zuji/css/login.css}"/>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location
        }
    </script>
</head>
<body class="hold-transition login-page">
<div class="login-box">

    <div class="login-box-body">
        <div class="message">后台管理系统</div>
        <div id="dark-wrap"></div>

        <form id="login-form">
            <fieldset>
                <div class="form-group has-feedback">
                    <input class="form-control input-lg" id="username" name="username" placeholder="Username"
                           type="text">
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control input-lg" id="password" name="password" placeholder="Password"
                           type="password">
                </div>
                <div class="form-group has-feedback row" th:if="${captchaEnabled==true}">
                    <div class="col-xs-6">
                        <input autocomplete="off" class="code form-control input-lg" maxlength="5" name="validateCode"
                               placeholder="验证码"
                               type="text">
                    </div>
                    <div class="col-xs-6">
                        <a href="javascript:void(0);" title="点击更换验证码">
                            <img class="imgcode input-lg" style="padding: 0;"
                                 th:src="@{captcha/captchaImage(type=${captchaType})}"/>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button data-loading="正在验证登录，请稍后..." id="btnSubmit">登录</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>
<div class="footer">&copy; 2020 All Rights Reserved. MyZuJi</div>
<script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]]; </script>
<!-- 全局js -->
<script src="/static/plugin/jquery/js/jquery.3.2.1.min.js"
        th:src="@{/static/plugin/jquery/js/jquery.3.2.1.min.js}"></script>
<script th:src="@{/static/plugin/bootstrap/js/bootstrap.min.js}"></script>
<!-- 验证插件 -->
<script th:src="@{/static/plugin/jquery-validate/jquery.validate.min.js}"></script>
<script th:src="@{/static/plugin/jquery-validate/messages_zh.min.js}"></script>
<script th:src="@{/static/plugin/layer/layer.js}"></script>
<script th:src="@{/static/plugin/jquery-blockui/jquery.blockUI.js}"></script>
<script th:src="@{/static/zuji/js/zuji-ui.js}"></script>
<script th:src="@{/static/zuji/js/login.js}"></script>
</body>
</html>
